.card, .cardTwo {
	padding: 15px 25px;
	background-color: var(--primary);
	border-radius: 3px;
	box-shadow: 0px 5px 9px 0px var(--black), inset 1px 1px 1px var(--black);
	min-height: 120px;
	width: 87%;
	margin-top: 21px !important;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.cardTwo {
	text-align: left !important;
	justify-content: left !important;
	align-items: initial;
}
@media only screen and (min-width: 480px) {
	.card {width: 90%;	display: flex;
	align-items: center; justify-content: initial;flex-direction: initial;}
	.text {
		width: 85%;
		float: right;
		padding: 5px;
		margin-left: 5px;
		margin: initial;
	}
	.img {
		float: left;
		margin-right: 6px !important;
}
}

.header {
	line-height: 50px;
}

.headerSmall {
	font-size: 2em;
	padding: 15px 0px;
}

.text {
	width: 100%;
	padding: 12px 20px;
}

.img {
	width: 80%;
	margin: 0 auto;
	float: right !important;
	border-radius: 15px;
	z-index: 500 !important;
	position: relative;
}

.wrap {
	width: 100%;
	height: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}