@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/*Define code for all elements*/
*, *::after, *::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	direction: ltr;
}

/*Global vars*/

:root {
	--primary: #091f29;
	--secondary: #030413;
	--white: #FFFFFF;
	--black: #000;
	--gradient: repeating-linear-gradient(45deg, rgba(221, 211, 144,0.12) 0px, rgba(221, 211, 144,0.12) 1px,transparent 1px, transparent 13px),repeating-linear-gradient(135deg, rgba(221, 211, 144,0.12) 0px, rgba(221, 211, 144,0.12) 1px,transparent 1px, transparent 13px),linear-gradient(90deg, rgb(197, 4, 89),rgb(58, 28, 99));
	--blue: rgb(42, 125, 136);
}

/*maind document styling*/

html, body {
	width: 100%;
	height: 100%;
	background-color: var(--secondary);
  background-image: repeating-linear-gradient(175deg, rgb(3,4,19) 0px, rgb(3,4,19) 31px,transparent 31px, transparent 35px),repeating-linear-gradient(125deg, rgb(3,4,19) 0px, rgb(3,4,19) 31px,transparent 31px, transparent 35px),repeating-linear-gradient(250deg, rgb(3,4,19) 0px, rgb(3,4,19) 31px,transparent 31px, transparent 35px),repeating-linear-gradient(106deg, rgb(3,4,19) 0px, rgb(3,4,19) 31px,transparent 31px, transparent 35px),linear-gradient(90deg, rgb(80, 111, 183),rgb(119, 93, 250));
	color: var(--white);
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	overflow-x: hidden;
	user-select: text;
}

/*text styling*/
h1 {
	text-align: center;
}

h1 {
	font-size: 2em;
	margin: 6px;
}

/* body::-webkit-scrollbar {
	width: 3px;
	background-color: var(--white);
}

body::-webkit-scrollbar-track {
	width: 3px;
	background-color: var(--white);
}

body::-webkit-scrollbar-thumb {
	width: 3px;
	background-color: var(--blue);
} */

::selection {
	background: var(--blue);
}
